body {
    padding: 0;
    margin: 0;
    background-color: rgba(168, 168, 168, 0.74);
    height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 5vh;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-nav {
    position: relative;
    height: 40px;
    width: 40px;
}

.logo-nome {
    color: white;
}

nav a {
    padding: 0 7px 0 7px;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.background-tela {
    background-image: url('../img/background_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 95vh;
    opacity: 0.8;
}

.background-text {
    position: absolute;
    color: white;
    width: 50vw;
    font-size: 1.7rem;
    text-align: center;
    font-style: italic;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1.0;
}

.titulo-um {
    font-size: 5rem;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 10px;
    box-shadow: 7px 7px 13px 0px rgba(255, 255, 255, 0.815);
    padding: 30px;
    margin: 20px;
    width: 200px;
    height: 250px;
    transition: all 0.3s ease-out;
    background-color: white;
}

.card-titulo {
    text-align: center;
    justify-content: center;
    font-style: italic;
    margin-top: 0;
}

.imagem {
    border-radius: 5px;
    height: 120px;
}

.card-paragrafo {
    font-size: 18px;
    text-align: justify;
}

.secao-sobrenos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-sobrenos {
    border-radius: 10px;
    box-shadow: 7px 7px 13px 0px rgba(255, 255, 255, 0.815);
    padding: 20px;
    margin: 20px;
    width: 800px;
    transition: all 0.3s ease-out;
    background-color: white;
}

.card-sobrenos-titulo {
    text-align: center;
    justify-content: center;
    font-style: italic;
    margin-top: 0;
    font-size: 40px;
}

.card-sobrenos-paragrafo {
    font-size: 18px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    display: flex;
    flex-direction: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    position: relative;
    width: 100%;
    bottom:0;
    left:0;
    height: 3rem;
}

.footer-endereco {
    font-style: italic;
    font-size: 15px;
}

.footer-restaurante {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}