* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(168, 168, 168, 0.74);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 5vh;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-nav {
    position: relative;
    height: 40px;
    width: 40px;
}

.logo-nome {
    color: white;
}

nav a {
    padding: 0 7px 0 7px;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

nav button {
    padding: 0 7px 0 7px;
    background-color: transparent;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

nav button:hover {
    cursor: pointer;
}

.background-tela {
    background-image: url('../img/background_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 95vh;
    opacity: 0.8;
}

.background-text {
    position: absolute;
    color: white;
    width: 50vw;
    font-size: 1.7rem;
    text-align: center;
    font-style: italic;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1.0;
}

.titulo-um {
    font-size: 5rem;
}

.secao-cardapio {
    width: 100vw;
}

.row {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    align-items: center;
    margin: 0 15vw 0 15vw;
}

.card {
    border-radius: 10px;
    box-shadow: 7px 7px 13px 0px rgba(255, 255, 255, 0.815);
    padding: 30px;
    margin: 20px;
    width: 200px;
    height: 250px;
    transition: all 0.3s ease-out;
    background-color: white;
}

.card-titulo {
    text-align: center;
    justify-content: center;
    font-style: italic;
    margin: 0 0 10px 0;
}

.imagem {
    border-radius: 5px;
    height: 120px;
}

.card-paragrafo {
    font-size: 18px;
    text-align: justify;
}

.secao-sobrenos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-sobrenos {
    border-radius: 10px;
    box-shadow: 7px 7px 13px 0px rgba(255, 255, 255, 0.815);
    padding: 20px;
    margin: 20px;
    width: 800px;
    transition: all 0.3s ease-out;
    background-color: white;
}

.card-sobrenos-titulo {
    text-align: center;
    justify-content: center;
    font-style: italic;
    margin-top: 0;
    font-size: 40px;
}

.card-sobrenos-conteudo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-sobrenos-paragrafo {
    font-size: 18px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 8px;
}

.secao-contato {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-contato {
    border-radius: 10px;
    box-shadow: 7px 7px 13px 0px rgba(255, 255, 255, 0.815);
    padding: 20px;
    margin: 20px;
    width: 800px;
    transition: all 0.3s ease-out;
    background-color: white;
}

.card-contato-titulo {
    text-align: center;
    justify-content: center;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 40px;
}

.formulario-contato {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .contato-botao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
  }

  .glow-on-hover {
    width: 150px;
    height: 30px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

  .glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.botao {
    margin: 8px;
}

footer {
    display: flex;
    flex-direction: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    position: relative;
    width: 100%;
    bottom:0;
    left:0;
    height: 3rem;
}

.footer-endereco {
    font-style: italic;
    font-size: 15px;
}

.footer-restaurante {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}